.select{
    height: 30px;
    margin-right: 10px;
}
.posts{
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    color: black;
    li{
        padding: 5px 10px;
        border: thin solid transparent;
        color: rgb(135, 138, 140);
        &:hover{
            border-color: rgba(139,189,170,.6);
        }
        a{
            text-decoration: none;
            color: inherit;
            span{
                font-weight: 500;
                color: rgb(39, 39, 39);
            }
            &:visited span{
                color: rgb(155, 155, 155)
            }
        }
        p{
            font-size: 12px;
            margin: 2px;
        }
    }
}